/************
COLOR PALLETE
*************/
$color-light: #f8fcfb;
$color-light-2: #eaeceb;
$color-light-3: #dddddc;
$color-light-4: #f2f2f2;
$color-light-5: #c9c8c8;
$color-yellow: #f1e918;
$color-red: #f15e55;
$color-blue: #b4ddc8;
$color-blue-2: #10b0d5;
$color-grey: #8d8c8c;
$color-dark: #231f20;
$color-dark-2: #424141;
$color-green: #9aca3b;
$color-green-2: #98c73b;
$color-green-3: #a4f108;

/**********
BOX SHADOW
***********/
$box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
$box-shadow-top: 3px -4px 25px -4px rgba(0, 0, 0, 0.68);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @include respond(medium) {
    height: 100vh;
  }
}

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  line-height: 1.5;
  background-color: $color-light-2;
}

.App {
  @include respond(medium) {
    position: relative;
    min-height: 100vh;
    padding-bottom: 11.8rem;
  }
}
