.container {
  padding: 0 1rem;

  @include respond(medium) {
    padding: 0 4rem;
  }
}

.logo {
  height: 40%;
}

.text-box {
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 0.8rem;

  &--dark {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
}

.text-bold {
  font-weight: bold;
}

.horizontal-line {
  width: 100%;
  height: 0.1rem;
  background-color: $color-dark-2;
  margin: 2rem auto 1rem auto;
}

.center {
  width: 100%;
  text-align: center;
}

// Buttons
.btn {
  display: inline-block;
  cursor: pointer;
  width: 5rem;
  height: 2.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 4px;
  box-shadow: $box-shadow;
  transition: all 0.2s;

  &--yellow {
    background-color: $color-yellow;
  }

  &--register {
    border: 1px solid $color-green;
    background-color: $color-light;
    color: $color-dark;
  }

  &--login {
    color: $color-blue-2;
  }

  &--edit {
    background-color: $color-blue-2;
    color: $color-light;
  }

  &:active {
    transform: scale(0.9);
  }

  &--disabled {
    background: $color-light-3;
    color: grey;
    border: 1px solid $color-red;
  }
}

.btn-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// Margins / Padding
.mt-sm {
  margin-top: 1rem;
}

.mt-md {
  margin-top: 2rem;
}

.mr-sm {
  margin-right: 1rem;
}

.mb-sm {
  margin-bottom: 1rem;
}

.mb-md {
  margin-bottom: 2rem;
}

// Displays
.d-flex {
  display: flex;
  align-items: center;

  &--col {
    flex-direction: column;
  }

  &--justify {
    justify-content: space-between;
  }

  &--flex-end {
    justify-content: flex-end;
  }
}

.col-2 {
  flex-wrap: wrap;
  justify-content: space-between;
}

// Alerts
.alert {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  border-radius: 3px;

  &--error {
    background-color: $color-red;
    color: $color-light;
  }

  &--success {
    background-color: $color-green;
    color: $color-dark;
  }
}

// Text
.strike,
.sale-price,
.msrp {
  font-weight: bold;
}

.strike {
  color: $color-dark !important;
  text-decoration: line-through;
  margin-right: 1rem;
}

.sale-price {
  color: $color-green;
}

.msrp {
  color: $color-dark;
}

// Overlay
.overlay {
  position: absolute;
  z-index: 25;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.opacity-none {
  opacity: 0;
}

.d-none {
  display: none;
}

// Notifications alert
.notifications {
  display: none;

  &--desktop-active,
  &--mobile-active {
    display: block;
    position: absolute;
    border-radius: 4px;
    background-color: $color-red;
    color: $color-light;
  }

  &--desktop-active {
    top: 0;
    right: -0.5rem;
    font-size: 0.6rem;
    padding: 0.2rem;
  }

  &--mobile-active {
    font-size: 0.8rem;
    top: 0.7rem;
    right: 2.4rem;
    z-index: 25;
    padding: 0.2rem 0.4rem;
  }
}

// Email permissions toggle
.email-permissions {
  display: flex;
  align-items: center;

  @include respond(medium) {
    width: 90%;
    margin: 2rem auto 0 auto;
  }

  &__label {
    margin-right: 1rem;
    font-size: 0.8rem;
  }

  &__input {
    cursor: pointer;
    transform: scale(1.5);
  }
}
