/************
COLOR PALLETE
*************/
/**********
BOX SHADOW
***********/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

body {
  background-color: #eaeceb; }

.container {
  padding: 0 1rem; }

.logo {
  height: 40%; }

.text-box {
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 0.8rem; }
  .text-box--dark {
    background: rgba(0, 0, 0, 0.5);
    color: #fff; }

.text-bold {
  font-weight: bold; }

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  background-color: #dddddc;
  -webkit-box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
  box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
  position: fixed;
  z-index: 100;
  top: 0; }
  .main-nav--about-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: #f15e55;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem; }

/********************************
BOTTOM NAVIGATION ON MOBILE VIEW
*********************************/
.bottom-navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5.4rem;
  padding-top: 0.6rem;
  background-color: #f8fcfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 3px -4px 25px -4px rgba(0, 0, 0, 0.68);
  box-shadow: 3px -4px 25px -4px rgba(0, 0, 0, 0.68);
  z-index: 100; }
  .bottom-navigation--icon {
    position: relative;
    z-index: 20;
    font-size: 2rem;
    display: block;
    text-shadow: 0 0 2px #000;
    color: #fff; }
    .bottom-navigation--icon-active {
      text-shadow: none; }
  .bottom-navigation__link {
    position: relative;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%; }
  .bottom-navigation__tab {
    position: absolute;
    z-index: 10;
    width: 4.8rem;
    height: 100%;
    border-top-left-radius: 39%;
    border-top-right-radius: 39%;
    transform: translateY(4rem);
    transition: all 0.18s ease-in; }
    .bottom-navigation__tab--active {
      background-color: #f15e55;
      transform: translateY(0); }

.sub-navigation {
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
  top: 4rem;
  width: 100%;
  padding: 1.3rem 0.8rem;
  background-color: #dddddc; }
  .sub-navigation i {
    font-size: 1.5rem; }
  .sub-navigation h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }

.game-showcase {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  width: 100%; }
  .game-showcase--box {
    position: relative;
    cursor: pointer;
    width: calc(50% - 0.5rem);
    height: 8rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68); }
  .game-showcase__new {
    background: url("../assets/images/new_games_poster.jpg"); }
    .game-showcase__new::after {
      background-image: linear-gradient(to bottom right, rgba(239, 65, 54, 0.6), rgba(194, 181, 155, 0.6)); }
  .game-showcase__coming-soon {
    background: url("../assets/images/comingsoon_poster.jpeg"); }
    .game-showcase__coming-soon::after {
      background-image: linear-gradient(to bottom right, rgba(122, 207, 228, 0.6), rgba(30, 169, 225, 0.6)); }
  .game-showcase__sale {
    background: url("../assets/images/salegames_poster.jpg"); }
    .game-showcase__sale::after {
      background-image: linear-gradient(to bottom right, rgba(194, 218, 99, 0.6), rgba(236, 237, 149, 0.6)); }
  .game-showcase__demo {
    background: url("../assets/images/demo_poster.jpg"); }
    .game-showcase__demo::after {
      background-image: linear-gradient(to bottom right, rgba(118, 96, 169, 0.6), rgba(128, 124, 186, 0.6)); }
  .game-showcase__all {
    background: url("../assets/images/allgames_poster.jpg"); }
    .game-showcase__all::after {
      background-image: linear-gradient(to bottom right, rgba(254, 238, 234, 0.6), rgba(65, 64, 66, 0.6)); }
  .game-showcase__new, .game-showcase__coming-soon, .game-showcase__sale, .game-showcase__demo, .game-showcase__all {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden; }
    .game-showcase__new::after, .game-showcase__coming-soon::after, .game-showcase__sale::after, .game-showcase__demo::after, .game-showcase__all::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .game-showcase__new h1, .game-showcase__coming-soon h1, .game-showcase__sale h1, .game-showcase__demo h1, .game-showcase__all h1 {
      position: absolute;
      bottom: 0.8rem;
      z-index: 50;
      box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68); }
  .game-showcase__new h1:first-of-type, .game-showcase__coming-soon h1:first-of-type {
    padding: 0.2rem 0.8rem;
    color: #f1e918;
    bottom: 3.6rem; }
  .game-showcase__coming-soon h1, .game-showcase__demo h1 {
    right: 0; }
  .game-showcase__all {
    width: 100%;
    height: 11rem; }
    .game-showcase__all h1 {
      bottom: 0; }

.home {
  margin-top: 4rem;
  padding: 1rem 0 5.5rem 0; }

.collection {
  padding: 1rem;
  margin-top: 8rem;
  padding-bottom: 5.5rem;
  width: 100%; }
  .collection__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem; }
    .collection__list a {
      display: flex;
      width: 30%;
      text-decoration: none; }
    .collection__list-item {
      position: relative;
      display: flex;
      width: 49%;
      margin-bottom: 1rem;
      background: #f2f2f2;
      border-radius: 9px;
      box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
      padding: 0.6rem;
      min-height: 7.5rem; }
    .collection__list-image {
      width: 100%;
      align-self: center; }
    .collection__list-title {
      position: absolute;
      font-size: 0.6rem;
      width: 50%;
      left: 40%;
      color: #231f20; }
    .collection__list-btn {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      outline: none;
      padding: 0.3rem 0.5rem;
      border-radius: 4px;
      color: #fff;
      background: #f15e55;
      border: none;
      font-size: 0.8rem; }

.search {
  padding: 1rem;
  margin-top: 8rem;
  padding-bottom: 5.5rem;
  text-align: center; }
  .search__bar {
    border: none;
    outline: none;
    width: 90%;
    padding: 1rem 2rem;
    box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
    border-radius: 2rem;
    font-size: 1rem;
    margin: 1rem 0; }
  .search__list {
    margin-top: 1rem;
    list-style-type: none;
    text-align: left; }
    .search__list a {
      text-decoration: none;
      color: #231f20; }
  .search__item {
    position: relative;
    display: flex;
    padding: 0.6rem;
    background: #f2f2f2;
    border-radius: 4px;
    box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
    margin-bottom: 1rem;
    min-height: 10rem;
    overflow: hidden; }
    .search__item-image {
      width: 20%; }
    .search__item-content {
      padding: 0 1rem; }
      .search__item-content * {
        margin-bottom: 0.6rem; }
    .search__item-title {
      font-weight: bold; }
    .search__item-price {
      color: #9aca3b; }
    .search__item-owned {
      position: absolute;
      bottom: -7rem;
      right: -2rem;
      height: 13rem;
      width: 8rem;
      transform: rotate(50deg);
      background-color: #f15e55; }
      .search__item-owned span {
        position: absolute;
        transform: rotate(-50deg);
        top: 4.3rem;
        left: 0.6rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff; }
