/************
COLOR PALLETE
*************/
/**********
BOX SHADOW
***********/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media only screen and (min-width: 60rem) {
  html,
  body {
    height: 100vh; } }

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }

body {
  line-height: 1.5;
  background-color: #eaeceb; }

@media only screen and (min-width: 60rem) {
  .App {
    position: relative;
    min-height: 100vh;
    padding-bottom: 11.8rem; } }

.container {
  padding: 0 1rem; }
  @media only screen and (min-width: 60rem) {
    .container {
      padding: 0 4rem; } }

.logo {
  width: 8rem; }

.text-box {
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 0.8rem; }
  .text-box--dark {
    background: rgba(0, 0, 0, 0.5);
    color: #fff; }

.text-bold {
  font-weight: bold; }

.horizontal-line {
  width: 100%;
  height: 0.1rem;
  background-color: #424141;
  margin: 2rem auto 1rem auto; }

.center {
  width: 100%;
  text-align: center; }

.btn {
  display: inline-block;
  cursor: pointer;
  width: 5rem;
  height: 2.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 4px;
  box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
  transition: all 0.2s; }
  .btn--yellow {
    background-color: #f1e918; }
  .btn--register {
    border: 1px solid #9aca3b;
    background-color: #f8fcfb;
    color: #231f20; }
  .btn--login {
    color: #10b0d5; }
  .btn--edit {
    background-color: #10b0d5;
    color: #f8fcfb; }
  .btn:active {
    transform: scale(0.9); }
  .btn--disabled {
    background: #dddddc;
    color: grey;
    border: 1px solid #f15e55; }

.btn-group {
  display: flex;
  align-items: center;
  flex-direction: column; }

.mt-sm {
  margin-top: 1rem; }

.mt-md {
  margin-top: 2rem; }

.mr-sm {
  margin-right: 1rem; }

.mb-sm {
  margin-bottom: 1rem; }

.mb-md {
  margin-bottom: 2rem; }

.d-flex {
  display: flex;
  align-items: center; }
  .d-flex--col {
    flex-direction: column; }
  .d-flex--justify {
    justify-content: space-between; }
  .d-flex--flex-end {
    justify-content: flex-end; }

.col-2 {
  flex-wrap: wrap;
  justify-content: space-between; }

.alert {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  border-radius: 3px; }
  .alert--error {
    background-color: #f15e55;
    color: #f8fcfb; }
  .alert--success {
    background-color: #9aca3b;
    color: #231f20; }

.strike,
.sale-price,
.msrp {
  font-weight: bold; }

.strike {
  color: #231f20 !important;
  text-decoration: line-through;
  margin-right: 1rem; }

.sale-price {
  color: #9aca3b; }

.msrp {
  color: #231f20; }

.overlay {
  position: absolute;
  z-index: 25;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7); }

.opacity-none {
  opacity: 0; }

.d-none {
  display: none; }

.notifications {
  display: none; }
  .notifications--desktop-active, .notifications--mobile-active {
    display: block;
    position: absolute;
    border-radius: 4px;
    background-color: #f15e55;
    color: #f8fcfb; }
  .notifications--desktop-active {
    top: 0;
    right: -0.5rem;
    font-size: 0.6rem;
    padding: 0.2rem; }
  .notifications--mobile-active {
    font-size: 0.8rem;
    top: 0.7rem;
    right: 2.4rem;
    z-index: 25;
    padding: 0.2rem 0.4rem; }

.email-permissions {
  display: flex;
  align-items: center; }
  @media only screen and (min-width: 60rem) {
    .email-permissions {
      width: 90%;
      margin: 2rem auto 0 auto; } }
  .email-permissions__label {
    margin-right: 1rem;
    font-size: 0.8rem; }
  .email-permissions__input {
    cursor: pointer;
    transform: scale(1.5); }

.tool-tip--box {
  display: none;
  position: absolute;
  font-size: 0.7rem;
  font-weight: bold;
  color: #231f20;
  text-shadow: none;
  background-color: #f8fcfb;
  width: max-content;
  padding: 0.3rem 0.8rem;
  bottom: -2.4rem;
  right: -0.8rem; }
  .tool-tip--box::after {
    content: "";
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    background-color: inherit;
    top: -0.3rem;
    right: 1rem;
    transform: rotate(45deg); }

.tool-tip:hover .tool-tip--box {
  display: block; }

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  background-color: #dddddc;
  -webkit-box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
  box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
  position: fixed;
  z-index: 100;
  top: 0; }
  @media only screen and (min-width: 60rem) {
    .main-nav {
      position: relative; } }
  .main-nav__search {
    display: none;
    position: relative;
    width: 40%;
    margin-right: auto;
    margin-left: 2rem; }
    .main-nav__search input {
      width: 100%;
      padding: 0.8rem;
      border-radius: 1rem;
      border: none;
      outline: none;
      font-size: 1rem; }
    @media only screen and (min-width: 60rem) {
      .main-nav__search {
        display: block; } }
    .main-nav__search-results {
      display: grid;
      padding: 2rem;
      grid-template-columns: repeat(2, 50%);
      grid-gap: 1rem;
      background-color: #dddddc;
      position: absolute;
      top: 4rem;
      left: 0;
      width: 100%; }
      .main-nav__search-results a {
        text-decoration: none;
        color: #231f20; }
    .main-nav__search-close {
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      left: 4rem;
      font-weight: bold;
      color: #f15e55; }
      .main-nav__search-close i {
        margin-left: 0.7rem; }
  .main-nav__list {
    display: none;
    position: relative;
    list-style-type: none;
    height: 100%;
    align-items: center;
    padding-right: 1.2rem;
    margin-right: 2rem; }
    @media only screen and (min-width: 60rem) {
      .main-nav__list {
        display: flex; } }
    .main-nav__list::before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 0.07rem;
      height: 2rem;
      background-color: #231f20; }
  .main-nav__item {
    display: flex;
    align-items: center;
    height: 100%;
    color: #231f20;
    text-decoration: none;
    transition: all 0.2s ease-in; }
    .main-nav__item:not(:last-child) {
      margin-right: 1rem; }
    .main-nav__item:hover {
      color: #10b0d5; }
  .main-nav--about-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: #f15e55;
    border-radius: 50%;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem; }
    @media only screen and (min-width: 60rem) {
      .main-nav--about-icon {
        display: none; } }
  .main-nav__user-list {
    display: none; }
    @media only screen and (min-width: 60rem) {
      .main-nav__user-list {
        display: flex;
        align-items: center; } }
    .main-nav__user-list__item {
      position: relative;
      font-size: 1.4rem;
      color: #f8fcfb;
      text-shadow: 0 0 2px #000; }
      .main-nav__user-list__item:not(:last-child) {
        margin-right: 1rem; }

/********************************
BOTTOM NAVIGATION ON MOBILE VIEW
*********************************/
.bottom-navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5.4rem;
  padding-top: 0.6rem;
  background-color: #f8fcfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 3px -4px 25px -4px rgba(0, 0, 0, 0.68);
  box-shadow: 3px -4px 25px -4px rgba(0, 0, 0, 0.68);
  z-index: 100; }
  @media only screen and (min-width: 60rem) {
    .bottom-navigation {
      display: none; } }
  .bottom-navigation--icon {
    position: relative;
    z-index: 20;
    font-size: 2rem;
    display: block;
    text-shadow: 0 0 2px #000;
    color: #fff; }
    .bottom-navigation--icon-active {
      text-shadow: none; }
  .bottom-navigation__link {
    position: relative;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%; }
  .bottom-navigation__tab {
    position: absolute;
    z-index: 10;
    width: 4.8rem;
    height: 100%;
    border-top-left-radius: 39%;
    border-top-right-radius: 39%;
    transform: translateY(4rem);
    transition: all 0.18s ease-in; }
    .bottom-navigation__tab--active {
      background-color: #f15e55;
      transform: translateY(0); }

.sub-navigation {
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
  top: 4rem;
  width: 100%;
  padding: 1.3rem 0.8rem;
  background-color: #dddddc;
  font-size: 0.8rem; }
  @media only screen and (min-width: 60rem) {
    .sub-navigation {
      display: none; } }
  .sub-navigation i {
    cursor: pointer;
    font-size: 1.5rem; }
  .sub-navigation h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .sub-navigation--collection {
    text-align: center;
    justify-content: space-around; }
    @media only screen and (min-width: 60rem) {
      .sub-navigation--collection {
        position: relative;
        left: 0;
        top: 0;
        display: flex; } }
    .sub-navigation--collection a {
      text-decoration: none;
      width: 100%; }
      .sub-navigation--collection a i,
      .sub-navigation--collection a p {
        color: #8d8c8c;
        transition: all 0.2s ease-in; }
    .sub-navigation--collection div:not(:last-child) {
      border-right: 1px solid #231f20; }
  .sub-navigation--active i {
    color: #10b0d5 !important; }
  .sub-navigation--active p {
    font-weight: bold;
    transform: scale(1.2);
    color: #000 !important; }

.game-showcase {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  width: 100%; }
  @media only screen and (min-width: 60rem) {
    .game-showcase {
      position: relative;
      padding: 15rem 4rem 4rem 4rem;
      background-image: linear-gradient(to bottom left, #10b0d5, #006378); } }
  .game-showcase svg {
    display: none;
    position: absolute;
    top: -0.08rem;
    right: 0; }
    @media only screen and (min-width: 60rem) {
      .game-showcase svg {
        display: block; } }
  .game-showcase__title {
    display: none;
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    color: #f8fcfb;
    font-size: 1.5rem; }
    @media only screen and (min-width: 60rem) {
      .game-showcase__title {
        display: block; } }
  .game-showcase--box {
    position: relative;
    cursor: pointer;
    width: calc(50% - 0.5rem);
    height: 8rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68); }
    @media only screen and (min-width: 60rem) {
      .game-showcase--box {
        width: 24%;
        height: 13rem; } }
  .game-showcase__new {
    background: url("../assets/images/new_games_poster.jpg"); }
    .game-showcase__new::after {
      background-image: linear-gradient(to bottom right, rgba(239, 65, 54, 0.6), rgba(194, 181, 155, 0.6)); }
  .game-showcase__coming-soon {
    background: url("../assets/images/comingsoon_poster.jpeg"); }
    .game-showcase__coming-soon::after {
      background-image: linear-gradient(to bottom right, rgba(122, 207, 228, 0.6), rgba(30, 169, 225, 0.6)); }
  .game-showcase__sale {
    background: url("../assets/images/salegames_poster.jpg"); }
    .game-showcase__sale::after {
      background-image: linear-gradient(to bottom right, rgba(194, 218, 99, 0.6), rgba(236, 237, 149, 0.6)); }
  .game-showcase__demo {
    background: url("../assets/images/demo_poster.jpg"); }
    .game-showcase__demo::after {
      background-image: linear-gradient(to bottom right, rgba(118, 96, 169, 0.6), rgba(128, 124, 186, 0.6)); }
  .game-showcase__all {
    background: url("../assets/images/allgames_poster.jpg"); }
    @media only screen and (min-width: 60rem) {
      .game-showcase__all {
        display: none; } }
    .game-showcase__all::after {
      background-image: linear-gradient(to bottom right, rgba(254, 238, 234, 0.6), rgba(65, 64, 66, 0.6)); }
  .game-showcase__new, .game-showcase__coming-soon, .game-showcase__sale, .game-showcase__demo, .game-showcase__all {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden; }
    .game-showcase__new::after, .game-showcase__coming-soon::after, .game-showcase__sale::after, .game-showcase__demo::after, .game-showcase__all::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .game-showcase__new h1, .game-showcase__coming-soon h1, .game-showcase__sale h1, .game-showcase__demo h1, .game-showcase__all h1 {
      position: absolute;
      bottom: 0.8rem;
      z-index: 50;
      box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68); }
  .game-showcase__new h1:first-of-type, .game-showcase__coming-soon h1:first-of-type {
    padding: 0.2rem 0.8rem;
    color: #f1e918;
    bottom: 3.6rem; }
  .game-showcase__coming-soon h1, .game-showcase__demo h1 {
    right: 0; }
    @media only screen and (min-width: 60rem) {
      .game-showcase__coming-soon h1, .game-showcase__demo h1 {
        left: 0;
        right: initial; } }
  .game-showcase__all {
    width: 100%;
    height: 11rem; }
    .game-showcase__all h1 {
      bottom: 0; }
  .game-showcase__view-all {
    display: none;
    text-decoration: none;
    color: #f1e918;
    margin: 0 auto; }
    @media only screen and (min-width: 60rem) {
      .game-showcase__view-all {
        display: block; } }

.form {
  width: 100%;
  height: 100%; }
  @media only screen and (min-width: 60rem) {
    .form {
      width: 90%; } }
  .form__group {
    position: relative;
    margin-bottom: 1rem; }
    .form__group-validate-icon {
      position: absolute;
      right: 0;
      top: 2.6rem;
      right: 0.7rem; }
      .form__group-validate-icon--valid {
        color: #9aca3b; }
      .form__group-validate-icon--invalid {
        color: #f15e55; }
  .form__label {
    display: block;
    margin-bottom: 0.5rem; }
  .form__input {
    width: 100%;
    padding: 1rem 0.8rem;
    border: none;
    font-size: 1rem;
    outline: none;
    border-radius: 4px; }
    .form__input--invalid {
      border: 1px solid #f15e55; }
    .form__input--valid {
      border: 1px solid #9aca3b; }
  .form__err, .form__success {
    opacity: 0;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold; }
  .form__err {
    color: #f15e55; }
    .form__err--active {
      opacity: 1; }
  .form__success {
    color: #9aca3b; }
    .form__success--active {
      opacity: 1; }
  .form__actions {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .form__actions a {
      font-size: 0.8rem;
      text-decoration: none;
      color: #231f20; }
  .form__radio-input {
    visibility: hidden; }
  .form__radio-label {
    cursor: pointer;
    position: relative; }
    .form__radio-label::after {
      content: "";
      position: absolute;
      left: 0;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: #f8fcfb;
      border: 2px solid #9aca3b;
      z-index: 5; }
    .form__radio-label span {
      margin-left: 2rem; }
  .form__radio-input:checked + .form__radio-label::before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0.34rem;
    left: 0.35rem;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #f15e55; }
  .form__checkbox-label {
    cursor: pointer;
    position: relative; }
    .form__checkbox-label span {
      position: absolute;
      top: 50%;
      margin-left: 1rem;
      background-color: #eaeceb;
      transform: translateY(-50%);
      border-radius: 1rem;
      width: 2rem;
      height: 1rem;
      border: 1px solid #231f20;
      overflow: hidden; }
      .form__checkbox-label span, .form__checkbox-label span::before {
        cursor: pointer;
        transition: all 0.1s ease-in; }
      .form__checkbox-label span::before {
        content: "";
        position: absolute;
        height: 0.9rem;
        width: 0.9rem;
        background-color: #231f20;
        border-radius: 50%; }
  .form__checkbox-input {
    visibility: hidden; }
  .form__checkbox-input:checked + .form__checkbox-label > span {
    background-color: #a4f108; }
  .form__checkbox-input:checked + .form__checkbox-label > span::before {
    transform: translateX(1rem); }
  .form--filter-radio-label {
    position: relative; }
    .form--filter-radio-label,
    .form--filter-radio-label span {
      cursor: pointer; }
    .form--filter-radio-label span {
      position: absolute;
      margin-left: 1rem;
      border: 1px solid #231f20;
      border-radius: 50%;
      width: 1.3rem;
      height: 1.3rem;
      transition: background-color 0.1s ease-in; }
  .form--filter-radio-input {
    visibility: hidden; }
  .form--filter-radio-input:checked + .form--filter-radio-label > span {
    background-color: #f15e55; }

.footer {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #c9c8c8;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 21; }
  @media only screen and (min-width: 60rem) {
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .footer__logo {
    width: 10%; }
  .footer__line {
    width: 60%;
    height: 0.09rem;
    background-color: #8d8c8c;
    margin: 1rem auto; }
  .footer__navigation {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 1rem; }
    .footer__navigation a {
      text-decoration: none;
      color: #424141; }
      .footer__navigation a:not(:last-child) {
        margin-right: 1rem; }
  .footer__copyright {
    align-self: flex-start; }

.home {
  margin-top: 4rem;
  padding: 1rem 0 5.5rem 0;
  /********
    BANNER
  *********/
  /**********
    FEATURES
  ***********/
  /****************
   SEARCH FEATURES
  *****************/
  /********
   SIGN UP
  *********/ }
  @media only screen and (min-width: 60rem) {
    .home {
      margin-top: 0;
      padding: 0; } }
  .home__banner {
    display: none;
    position: relative;
    height: 80vh;
    background-image: url("../assets/images/main_banner.jpg");
    background-position: center;
    background-size: cover; }
    @media only screen and (min-width: 60rem) {
      .home__banner {
        display: block; } }
    .home__banner-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 10; }
      .home__banner-content h1 {
        color: #f8fcfb; }
      .home__banner-content h1:first-child {
        margin-top: 1rem;
        font-size: 3rem; }
      .home__banner-content h1:nth-child(2) {
        margin-top: -0.8rem; }
      .home__banner-content h2 {
        background-color: rgba(0, 0, 0, 0.8);
        padding: 0.4rem 0.8rem;
        border-radius: 3px;
        color: #f1e918;
        margin: 2rem 0; }
      .home__banner-content h3 {
        font-size: 2rem;
        color: #f8fcfb;
        margin-top: 4rem;
        margin-bottom: 3rem; }
      .home__banner-content p {
        margin-top: 0.7rem;
        font-size: 1.3rem;
        color: #f8fcfb; }
        .home__banner-content p span {
          color: #f15e55;
          font-style: italic;
          font-weight: bold; }
    .home__banner-sub-text {
      background-color: blue;
      text-align: center; }
    .home__banner-form {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .home__banner-form input {
        padding: 1rem;
        border: none;
        outline: none;
        font-size: 1rem;
        width: 80%;
        border-radius: 1rem;
        margin-right: 1rem; }
      .home__banner-form a {
        width: 20%;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #231f20; }
    .home__banner::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to bottom left, #10b0d5, #006378);
      opacity: 0.9;
      z-index: 5; }
    .home__banner svg {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10; }
    .home__banner-images {
      margin-top: 4rem;
      position: relative;
      z-index: 14; }
      .home__banner-images-1, .home__banner-images-2, .home__banner-images-3 {
        position: absolute;
        height: 13rem;
        width: 8rem;
        background-position: center;
        background-size: cover;
        left: 50%; }
      .home__banner-images-1 {
        background-image: url("../assets/images/astral_chain.png");
        transform: translateX(-50%) scale(0.9);
        z-index: 1;
        margin-left: -6rem; }
      .home__banner-images-2 {
        background-image: url("../assets/images/super_mario_maker_2.png");
        transform: translateX(-50%) scale(1.2);
        z-index: 2; }
      .home__banner-images-3 {
        background-image: url("../assets/images/yoshis_crafted_world.png");
        z-index: 1;
        transform: translateX(-50%) scale(0.9);
        margin-left: 6rem; }
  .home__features {
    display: none;
    position: relative;
    background-image: linear-gradient(to bottom left, #10b0d5, #006378);
    margin-top: 8rem;
    padding: 4rem 0 6rem 0; }
    @media only screen and (min-width: 60rem) {
      .home__features {
        display: block; } }
    .home__features svg {
      position: absolute;
      bottom: 0; }
    .home__features-content {
      position: relative;
      display: flex;
      justify-content: space-between; }
    .home__features-1, .home__features-2, .home__features-3 {
      position: relative;
      width: 32.33%;
      height: 25rem;
      border-radius: 4px;
      background-size: cover;
      background-position: center;
      box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68); }
      .home__features-1 p, .home__features-2 p, .home__features-3 p {
        position: absolute;
        display: flex;
        align-items: center;
        background-color: yellow;
        width: 90%;
        top: 13rem;
        padding: 2rem;
        min-height: 8.6rem;
        background-color: #f15e55;
        color: #f8fcfb;
        z-index: 2; }
      .home__features-1::after, .home__features-2::after, .home__features-3::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1; }
    .home__features-1 {
      background-image: url("../assets/images/card_1.jpeg"); }
    .home__features-2 {
      background-image: url("../assets/images/card_2.jpg"); }
    .home__features-3 {
      background-image: url("../assets/images/card_3.jpeg"); }
  .home__search-features {
    display: none;
    padding-top: 4rem; }
    @media only screen and (min-width: 60rem) {
      .home__search-features {
        display: block; } }
    .home__search-features h1 {
      color: #f15e55;
      font-size: 1.5rem; }
  .home__signup {
    display: none; }
    @media only screen and (min-width: 60rem) {
      .home__signup {
        display: block;
        padding-top: 4rem;
        padding-bottom: 4rem;
        text-align: center; }
        .home__signup h1 {
          font-size: 2rem;
          margin-bottom: 1.4rem; }
        .home__signup a {
          display: flex;
          margin: 0 auto;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          background-color: #10b0d5;
          color: #f8fcfb; } }

.collection {
  margin-top: 10rem;
  padding-top: 1rem;
  padding-bottom: 5.5rem;
  width: 100%; }
  @media only screen and (min-width: 60rem) {
    .collection {
      margin-top: 2rem; } }
  .collection__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem; }
    @media only screen and (min-width: 60rem) {
      .collection__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem; } }
    .collection__list a {
      display: flex;
      width: 30%;
      text-decoration: none; }
    .collection__list-item {
      position: relative;
      display: flex;
      width: 49%;
      margin-bottom: 1rem;
      background: #f2f2f2;
      border-radius: 9px;
      box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
      padding: 0.6rem;
      min-height: 7.5rem; }
      @media only screen and (min-width: 60rem) {
        .collection__list-item {
          width: 100%; } }
    .collection__list-image {
      width: 100%;
      align-self: center; }
    .collection__list-title {
      position: absolute;
      font-size: 0.6rem;
      width: 50%;
      left: 40%;
      color: #231f20; }
      @media only screen and (min-width: 60rem) {
        .collection__list-title {
          font-size: 1rem; } }
    .collection__list-btn {
      position: absolute;
      cursor: pointer;
      bottom: 1rem;
      right: 1rem;
      outline: none;
      padding: 0.3rem 0.5rem;
      border-radius: 4px;
      color: #fff;
      background: #f15e55;
      border: none;
      font-size: 0.8rem; }
  .collection__action-link {
    text-decoration: none;
    font-weight: bold; }

.search {
  position: relative;
  padding: 1rem;
  margin-top: 8rem;
  padding-bottom: 5.5rem;
  text-align: center; }
  .search__bar {
    border: none;
    outline: none;
    width: 90%;
    padding: 1rem 2rem;
    box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
    border-radius: 2rem;
    font-size: 1rem;
    margin: 1rem 0; }
  .search__list {
    margin-top: 1rem;
    list-style-type: none;
    text-align: left; }
    .search__list a {
      text-decoration: none;
      color: #231f20; }
  .search__item {
    position: relative;
    display: flex;
    padding: 0.6rem;
    background: #f2f2f2;
    border-radius: 4px;
    box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
    margin-bottom: 1rem;
    overflow: hidden; }
    @media only screen and (min-width: 60rem) {
      .search__item {
        width: 100%;
        margin: 0;
        height: 100%; } }
    .search__item-image {
      align-self: center;
      width: 20%; }
    .search__item-content {
      padding: 0 1rem; }
      .search__item-content * {
        margin-bottom: 0.6rem; }
    .search__item-title {
      font-weight: bold; }
    .search__item-price {
      color: #9aca3b; }
    .search__item-owned {
      position: absolute;
      bottom: -7rem;
      right: -2rem;
      height: 13rem;
      width: 8rem;
      transform: rotate(50deg);
      background-color: #f15e55; }
      .search__item-owned span {
        position: absolute;
        transform: rotate(-50deg);
        top: 4.3rem;
        left: 0.6rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff; }

.game-display {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: [full-start] 1rem [col-start] 1fr [col-end] 1rem [full-end];
  grid-row-gap: 2rem;
  margin-top: 8rem;
  padding-bottom: 7rem;
  background-color: #f8fcfb;
  width: 100%; }
  @media only screen and (min-width: 60rem) {
    .game-display {
      margin-top: 0;
      grid-template-columns: [full-start] 4rem [col-start] 1fr [col-end] 4rem [full-end]; } }
  .game-display__group {
    display: flex;
    flex-wrap: wrap;
    grid-column: col-start / col-end; }
    @media only screen and (min-width: 60rem) {
      .game-display__group {
        align-items: center;
        justify-content: center; }
        .game-display__group-details {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap; }
          .game-display__group-details p {
            display: block;
            width: 48%;
            background-color: #f8fcfb;
            padding: 1rem;
            border-radius: 4px;
            box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68); } }
    .game-display__group img {
      width: 40%;
      height: 100%; }
      @media only screen and (min-width: 60rem) {
        .game-display__group img {
          width: 20%;
          height: 80%; } }
    .game-display__group-price {
      display: block;
      color: #9aca3b;
      font-size: 1.4rem;
      font-weight: bold; }
    .game-display__group-meta {
      width: 60%;
      padding-left: 1rem; }
      @media only screen and (min-width: 60rem) {
        .game-display__group-meta {
          padding-left: 4rem;
          padding-right: 4rem; } }
      .game-display__group-meta img {
        width: 15%;
        height: 15%; }
        @media only screen and (min-width: 60rem) {
          .game-display__group-meta img {
            width: 10%;
            height: 10%; } }
      .game-display__group-meta h1 {
        font-size: 1.3rem; }
      .game-display__group-meta * {
        margin-bottom: 1rem; }
  .game-display__online {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    grid-column: col-start / col-end; }
    .game-display__online span {
      text-align: right;
      display: block;
      width: 49%; }
    .game-display__online-icon {
      display: flex;
      align-items: center;
      width: 49%; }
      .game-display__online-icon img {
        width: 20%;
        margin-right: 0.4rem; }
      .game-display__online-icon i {
        color: #10b0d5;
        font-size: 1.3rem; }
  .game-display__action {
    color: #231f20;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #dddddc;
    grid-column: full-start / full-end;
    width: 100%;
    box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68); }
    .game-display__action p {
      text-align: center;
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 1rem; }
  .game-display__addto {
    display: flex;
    align-items: center;
    width: 100%; }
    @media only screen and (min-width: 60rem) {
      .game-display__addto {
        justify-content: center; } }
    .game-display__addto span {
      display: block;
      font-size: 1.5rem;
      margin-right: 1rem; }
    .game-display__addto button:nth-of-type(1) {
      margin-right: 1rem; }
  .game-display__btn {
    cursor: pointer;
    border: none;
    padding: 0.5rem 0.8rem;
    width: 8rem;
    border-radius: 1rem;
    background: #f15e55;
    color: #f8fcfb;
    font-size: 1.3rem;
    box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
    transition: all 0.1s; }
    .game-display__btn:active {
      transform: scale(105%); }
    .game-display__btn--true {
      background-color: #9aca3b;
      color: #424141; }
  .game-display__gallery {
    display: grid;
    grid-column: col-start / col-end; }
    @media only screen and (min-width: 60rem) {
      .game-display__gallery {
        grid-template-columns: 60% 40%;
        grid-gap: 1rem; } }
    .game-display__gallery-display {
      position: relative;
      width: 100%;
      transition: all 0.2s;
      height: 50vw; }
      @media only screen and (min-width: 60rem) {
        .game-display__gallery-display {
          grid-column: 1 / 2;
          height: 30rem; } }
      .game-display__gallery-display-img {
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all 0.3s ease-in; }
        .game-display__gallery-display-img--active {
          opacity: 1; }
    .game-display__gallery-select {
      grid-column: 1 / -1;
      display: flex;
      overflow-x: scroll;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      width: 100%; }
      @media only screen and (min-width: 60rem) {
        .game-display__gallery-select {
          grid-column: 2 / -1;
          align-self: flex-start;
          flex-wrap: wrap;
          justify-content: space-between;
          min-height: max-content;
          max-height: 30rem;
          overflow-x: hidden;
          overflow-y: scroll; } }
    .game-display__gallery-box {
      cursor: pointer;
      width: 8rem;
      height: 4rem;
      margin-right: 0.2rem;
      flex: none;
      margin-top: 0.3rem; }
      @media only screen and (min-width: 60rem) {
        .game-display__gallery-box {
          width: 49%;
          height: 8rem;
          margin-bottom: 0.1rem; } }
      .game-display__gallery-box--active {
        border: 2px solid #f15e55; }
      .game-display__gallery-box img {
        height: 100%;
        width: 100%; }
  .game-display__info {
    grid-column: col-start / col-end;
    font-size: 1rem; }
    .game-display__info-list {
      margin-bottom: 1.2rem; }
      .game-display__info-list h2 {
        margin-bottom: 1rem;
        font-size: 1.2rem; }
      @media only screen and (min-width: 60rem) {
        .game-display__info-list--grid {
          display: grid;
          grid-template-columns: repeat(2, 50%);
          grid-gap: 1rem; } }
    .game-display__info-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 1.2rem;
      background-color: #eaeceb;
      border-radius: 4px;
      box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
      padding: 1rem; }
      @media only screen and (min-width: 60rem) {
        .game-display__info-item {
          width: 100%;
          height: max-content; } }
      .game-display__info-item--description {
        overflow: hidden;
        max-height: 0;
        width: 100%; }
      .game-display__info-item input {
        visibility: hidden;
        width: 100%; }
      .game-display__info-item label {
        position: relative;
        cursor: pointer;
        font-weight: bold;
        color: #424141; }
        .game-display__info-item label::after {
          content: "";
          cursor: pointer;
          position: absolute;
          -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
          clip-path: polygon(100% 50%, 0 0, 0 100%);
          top: 50%;
          right: -1rem;
          transform: translateY(-50%);
          width: 0.5rem;
          height: 0.5rem;
          background-color: #424141;
          transition: transform 0.5s; }
      input:checked ~ .game-display__info-item--description {
        max-height: 200rem;
        margin-top: 1rem;
        margin-bottom: 1rem; }
      .game-display__info-item input:checked ~ label::after {
        transform: translateY(-50%) rotate(90deg); }
      .game-display__info-item img {
        width: 40%;
        height: 20vw; }
        @media only screen and (min-width: 60rem) {
          .game-display__info-item img {
            width: 40%;
            height: 10vw; } }
      .game-display__info-item--details-box {
        width: 56%; }
        .game-display__info-item--details-box h3 {
          font-size: 0.9rem;
          font-weight: bold;
          margin-bottom: 0.4rem; }
      .game-display__info-item--price {
        color: #9aca3b; }

.register {
  padding: 1rem;
  margin-top: 8rem;
  padding-bottom: 7rem; }
  @media only screen and (min-width: 60rem) {
    .register {
      margin-top: 1rem; }
      .register form {
        margin: 0 auto; } }
  .register__title {
    display: none; }
    @media only screen and (min-width: 60rem) {
      .register__title {
        display: block;
        text-align: center;
        margin-bottom: 1rem;
        font-size: 2rem; } }
  .register h2 {
    font-size: 1.2rem; }
  .register__confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: calc(50% - 8rem); }
    @media only screen and (min-width: 60rem) {
      .register__confirmation {
        padding-top: 6rem; } }
    .register__confirmation--icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 8rem;
      width: 8rem;
      background-color: #9aca3b;
      border-radius: 50%;
      margin-bottom: 1rem; }
      .register__confirmation--icon i {
        font-size: 3.5rem;
        color: #eaeceb; }
    .register__confirmation h2 {
      margin-bottom: 0.8rem; }

.profile {
  padding-top: 9rem;
  padding-bottom: 5.5rem;
  text-align: center; }
  .profile__edit-page {
    text-align: left; }
    @media only screen and (min-width: 60rem) {
      .profile__edit-page {
        padding-top: 4rem; }
        .profile__edit-page form {
          margin: 0 auto; } }
    .profile__edit-page__success {
      background-color: #b4ddc8;
      padding: 1rem;
      border-radius: 4px;
      margin-bottom: 1rem; }
    .profile__edit-page button {
      width: max-content;
      padding-right: 0.8rem;
      padding-left: 0.8rem; }
  .profile__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    background-color: #dddddc; }
    .profile__header-signout, .profile__header-username {
      font-weight: bold; }
    .profile__header-username {
      font-size: 1.2rem;
      color: #10b0d5; }
    .profile__header-signout {
      cursor: pointer;
      font-size: 0.9rem; }
  .profile h1 {
    font-size: 2rem; }
  .profile p {
    font-size: 1.2rem; }
  .profile__auth-link {
    text-decoration: none;
    background: #f8fcfb;
    width: 6rem;
    padding: 0.4rem 0;
    border-radius: 3px;
    margin-bottom: 1rem;
    color: #231f20;
    box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68); }
  .profile__edit, .profile__collection, .profile__wishlist, .profile__salewatch, .profile__notifications {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
    overflow: hidden; }
    .profile__edit h4, .profile__collection h4, .profile__wishlist h4, .profile__salewatch h4, .profile__notifications h4 {
      position: absolute;
      z-index: 10;
      bottom: 0.5rem;
      left: 1rem;
      color: #231f20;
      font-weight: bold; }
    .profile__edit span, .profile__collection span, .profile__wishlist span, .profile__salewatch span, .profile__notifications span {
      position: absolute; }
      .profile__edit span i, .profile__collection span i, .profile__wishlist span i, .profile__salewatch span i, .profile__notifications span i {
        font-size: 8rem; }
  .profile__edit, .profile__collection, .profile__wishlist, .profile__salewatch {
    width: 49%;
    height: 8rem;
    margin-bottom: 0.7rem; }
    .profile__edit h4, .profile__collection h4, .profile__wishlist h4, .profile__salewatch h4 {
      font-size: 1.5rem; }
    .profile__edit span, .profile__collection span, .profile__wishlist span, .profile__salewatch span {
      top: 2rem;
      z-index: 5; }
  .profile__edit span {
    color: #eaeceb; }
  .profile__collection span {
    color: #10b0d5; }
  .profile__wishlist span {
    color: #231f20; }
  .profile__salewatch span {
    color: #9aca3b;
    right: 0; }
  .profile__notifications {
    height: 10rem;
    margin-top: 2rem;
    width: 100%; }
    @media only screen and (min-width: 60rem) {
      .profile__notifications {
        display: none; } }
    .profile__notifications h4 {
      font-size: 2rem; }
    .profile__notifications span {
      color: #f15e55;
      left: 0;
      top: -1.5rem; }
  .profile__notifications-count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    top: 1rem;
    font-size: 1.4rem;
    right: 1rem;
    color: #231f20;
    width: 2rem;
    height: 2rem;
    background-color: #eaeceb;
    box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68); }
    .profile__notifications-count--active {
      color: #f15e55; }

.confirm-email {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 8rem;
  padding-bottom: 5.5rem; }
  .confirm-email__verified {
    display: flex;
    flex-direction: column; }
    .confirm-email__verified-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      background-color: #9aca3b;
      align-self: center;
      border-radius: 50%;
      margin-bottom: 1rem; }
      .confirm-email__verified-icon i {
        font-size: 2rem;
        color: #f8fcfb; }
    .confirm-email__verified h2 {
      margin-bottom: 0.3rem; }
    .confirm-email__verified p {
      align-self: center;
      margin-bottom: 1rem; }
    .confirm-email__verified a {
      text-decoration: none;
      align-self: center;
      background-color: #9aca3b;
      color: #f8fcfb;
      padding: 0.6rem 0.8rem; }
  .confirm-email__invalid p {
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .confirm-email__invalid a {
    text-decoration: none;
    color: #f15e55; }

.login {
  padding: 1rem;
  margin-top: 8rem;
  padding-bottom: 5.5rem;
  text-align: center; }
  @media only screen and (min-width: 60rem) {
    .login {
      margin-top: 2rem; }
      .login form {
        margin: 0 auto; } }
  .login h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem; }
  .login__register {
    margin-top: 5rem; }
    .login__register a {
      text-decoration: none;
      font-style: italic;
      font-weight: bold;
      color: #f15e55; }
  .login__pwreset {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: #424141;
    align-self: flex-end; }

.reset {
  padding: 1rem;
  margin-top: 8rem;
  padding-bottom: 5.5rem; }
  @media only screen and (min-width: 60rem) {
    .reset {
      margin-top: 4rem; }
      .reset h3 {
        margin-left: 4.5rem; }
      .reset form {
        margin: 0 auto; } }
  .reset-btn {
    cursor: pointer;
    margin-bottom: 2rem;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    width: 80%;
    background-color: #f8fcfb;
    padding: 2rem 0;
    border: none;
    box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68); }
  .reset-submit-btn {
    cursor: pointer;
    font-size: 1rem;
    border: none;
    font-weight: bold;
    display: block;
    padding: 0.5rem 1rem;
    box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
    outline: none;
    border-radius: 4px;
    border: 1px solid #9aca3b;
    transition: all 0.1s;
    align-self: flex-end; }
    .reset-submit-btn:active {
      transform: scale(0.9); }
  .reset--err-text {
    display: block;
    margin-top: -0.6rem;
    margin-left: 0.2rem;
    color: #f15e55;
    font-weight: bold;
    font-size: 0.9rem; }
  .reset__success-link {
    display: block;
    text-decoration: none;
    margin-top: 1rem;
    color: #424141;
    font-weight: bold; }

.browse {
  position: relative;
  padding: 4rem 1rem 5.5rem 1rem; }
  .browse__sidenav {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 5rem;
    height: 100%;
    background-color: #f8fcfb;
    padding-top: 10rem; }
    @media only screen and (min-width: 60rem) {
      .browse__sidenav {
        display: block; } }
  .browse__filter {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 4rem;
    width: 100%;
    background-color: #eaeceb;
    font-size: 1.3rem;
    padding: 0.8rem 1rem;
    z-index: 20; }
    @media only screen and (min-width: 60rem) {
      .browse__filter {
        position: fixed;
        width: 3rem;
        height: 100%;
        top: 0;
        left: 0;
        text-align: center;
        flex-direction: column;
        background-color: #f8fcfb;
        padding: 6rem 3rem 0 3rem;
        justify-content: initial; } }
    .browse__filter i {
      color: #f15e55; }
    .browse__filter-total {
      font-size: 1rem; }
      @media only screen and (min-width: 60rem) {
        .browse__filter-total {
          margin-top: 2rem; } }
  .browse__filter-list {
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    padding: 6rem 1rem 7rem 1rem;
    z-index: 26;
    top: 0;
    bottom: 0;
    width: 0;
    background: #f8fcfb;
    transition: all 0.2s ease-in; }
    @media only screen and (min-width: 60rem) {
      .browse__filter-list {
        height: 100%;
        left: 0; } }
    .browse__filter-list p {
      margin: 0.7rem 0;
      font-weight: bold; }
    .browse__filter-list--active {
      visibility: visible;
      width: 50%; }
      @media only screen and (min-width: 60rem) {
        .browse__filter-list--active {
          width: 20%; } }
    .browse__filter-list--close {
      cursor: pointer;
      position: absolute;
      right: 1rem; }
    .browse__filter-list--btn-container {
      display: flex;
      flex-direction: column; }
      .browse__filter-list--btn-container button {
        cursor: pointer;
        font-size: 1rem;
        outline: none;
        width: 90%;
        padding: 0.3rem 0;
        border-radius: 3px; }
      .browse__filter-list--btn-container button:first-child {
        background-color: #9aca3b;
        margin-bottom: 0.7rem; }
      .browse__filter-list--btn-container button:nth-child(2) {
        background-color: #f8fcfb;
        border: 1px solid grey; }
  .browse__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    list-style-type: none; }
    @media only screen and (min-width: 60rem) {
      .browse__list {
        width: 93%;
        flex-direction: row;
        justify-content: space-between;
        margin-left: auto;
        flex-wrap: wrap;
        align-items: initial; } }
  .browse__item {
    display: flex;
    text-decoration: none;
    color: #231f20;
    width: 100%;
    background-color: #f2f2f2;
    box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem; }
    @media only screen and (min-width: 60rem) {
      .browse__item {
        width: 32%;
        justify-content: space-between; }
        .browse__item:last-child {
          margin-right: auto;
          margin-left: 1.4rem; } }
    .browse__item-release-date {
      margin-bottom: 0.7rem; }
      .browse__item-release-date p {
        font-size: 0.9rem; }
    .browse__item-game-img {
      width: 20%;
      align-self: center; }
      @media only screen and (min-width: 60rem) {
        .browse__item-game-img {
          width: 30%; } }
    .browse__item-rating {
      width: 10%;
      margin-bottom: 2rem; }
    .browse__item--meta {
      position: relative;
      padding-left: 1rem;
      width: 100%; }
      .browse__item--meta h4 {
        margin-bottom: 0.5rem; }
      .browse__item--meta-container {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        width: calc(100% - 1rem); }
      .browse__item--meta-online {
        text-align: right;
        justify-content: flex-end;
        width: 100%; }
      .browse__item--meta-cloud {
        color: #10b0d5;
        margin-left: 0.7rem; }
      .browse__item--meta-online-play {
        width: 20%; }

.profile-notifications {
  display: flex;
  flex-direction: column;
  padding-top: 9rem;
  padding-bottom: 5.5rem; }
  @media only screen and (min-width: 60rem) {
    .profile-notifications {
      padding-top: 2rem; } }
  .profile-notifications__list {
    display: grid; }
    @media only screen and (min-width: 60rem) {
      .profile-notifications__list {
        grid-template-columns: repeat(2, 50%);
        grid-gap: 1rem; } }
  .profile-notifications__item {
    display: flex;
    position: relative;
    text-decoration: none;
    color: #231f20;
    background-color: #dddddc;
    padding: 0.5rem;
    box-shadow: 4px 6px 25px -4px rgba(0, 0, 0, 0.68);
    margin-bottom: 1rem; }
    .profile-notifications__item a {
      text-decoration: none;
      color: #231f20; }
    .profile-notifications__item button {
      position: absolute;
      bottom: 1rem;
      right: 0.5rem;
      color: #f15e55;
      border: 1px solid #f15e55; }
    .profile-notifications__item-image {
      width: 20%;
      margin-right: 1rem;
      align-self: center; }
      @media only screen and (min-width: 60rem) {
        .profile-notifications__item-image {
          width: 15%; } }
      .profile-notifications__item-image img {
        width: 100%; }
    .profile-notifications__item-details h3 {
      margin-bottom: 1rem; }
  .profile-notifications__clear {
    cursor: pointer;
    margin-bottom: 1rem;
    font-weight: bold;
    text-decoration: underline;
    align-self: flex-start; }
