.profile-notifications {
  padding-top: 9rem;
  padding-bottom: 5.5rem;

  &__list {
  }

  &__item {
    display: flex;
    text-decoration: none;
    color: $color-dark;
    background-color: $color-light-3;
    padding: 0.5rem;
    box-shadow: $box-shadow;

    &-image {
      width: 20%;
      margin-right: 1rem;

      img {
        width: 100%;
      }
    }
  }
}
